body {
  background: #f9f7fe;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  color: #212529;
}

.app {
  max-width: 800px;
  margin: 50px auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weather-app {
  font-family: Cerebri-Sans,Helvetica,Arial,sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}

.btn {
  width: 35%;
}

.weather-app form {
  margin-bottom: 20px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} 

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.weather-app .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39,33,66,.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.weather-app .btn {
  background: #885df1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}
